*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

.logo{
    height: 40vh;
    display: block;
    margin: 0px auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

.NavBar{
    background-color: rgb(103, 103, 196);
}

.NavBar__lista{
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* Carousel */
.title{
    padding-top: 2em;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 30vh;
}

.imagenes{
    padding-bottom: 3em;
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .8em;
}

.galeria__imagenes{
    transition: all 0.8s;
}

.galeria__imagenes:hover{
    transform:  translate(10px, 10px);
}

.galeria__img{
    width: 100%;
    height: 100%;
}

body{
    background-color: rgb(206, 206, 240);
}

.grid-container{
    width: 100%;
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    margin-bottom: 100px;
}

.title{
    font-size: 20px;
    margin-bottom: 40px;
}

.pie-pagina{
    width: 100%;
    background-color: rgb(170, 170, 231);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: black;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .red-social a{
    display: flex;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-2{
    background-color: rgb(103, 103, 196);
    padding: 15px 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}
